[2014-10-19 19:48] stayradiated opened #1 "1Password 5: "Cannot Fill Item in Web Browser""
OS X 10.10 and 1Password 5.0.1.

Running `sudolikeaboss` displays the 1Password Mini window, but when I select an item it displays this error message:

**Cannot Fill Item in Web Browser**
_Web Browser is connected but its code signature could not be verified. Filling and other features are disabled until this configuration issue is resolved._

At first I thought maybe I could disable "Verify brows

[2014-10-20 04:55] ravenac95 opened #2 "Research adding support Terminal.app with SIMBL"

[2014-10-20 11:05] typerlc opened #3 "1password 3 Support"
Is this expected to work with 1password 3?

[2014-10-28 08:13] #1 closed, assigned to ravenac95

[2014-10-31 08:40] kvonspiczak opened #5 "Password doesn't get copied to clipboard"
I installed the workaround, following your instructions. But even when I configure the logins to "sudolikeaboss://local", ssh into a mashine and try to use the fill function from 1pw, it won't get copied in my clipboard, or entered into iTerm 2 correctly.
Like it just issues and empty iTerm command.

Is there any solution for this?

edit: I just noticed that it only does not work for "passwords".

[2014-11-07 02:31] ravenac95 opened #6 "Multiple Chrome Profiles causes workaround to fail"

[2014-11-07 22:05] tabacco opened #7 "Support server records"
It'd be great if I could autofill passwords from Server records in 1password. Right now it looks like only Login records are supported.

[2014-12-24 17:29] JamesValero opened #9 "Current ReadMe out of date (12/24/14)"
https://github.com/ravenac95/sudolikeaboss/blob/master/README.rst

The readme says to install 0.1 (if by source) but the workaround didn't work until I uninstalled and re-installed via homebrew and noticed 0.2 was installed instead.

[2015-01-13 07:38] ravenac95 commented on #9
Sorry for the delay. I was actually out of commission for a while. I resolved the issue

[2015-01-13 07:38] #9 closed

[2015-01-13 07:41] ravenac95 commented on #7
@tabacco and @BrianGilbert I would love to be able to do this! However, it seems as though there's limitation with the UI that 1password provides. 1password doesn't do autofill of Server Records. At least as far as I can tell. If you can help me figure that one out I may be able to make this happen.

[2015-01-14 20:49] yacitus commented on #1
Nothing happens when I try my keyboard shortcut in iTerm2.

Not surprisingly, when I run `SUDOLIKEABOSS_WEBSOCKET_URI="ws://127.0.0.1:16263/slab" /usr/local/bin/sudoleaboss` at the command-line, it doesn't return. I have installed the sudolikeaboss-workaround, and ran sudolikeaboss-setup-workaround, and restarted Chrome.

I noticed that after I run sudolikeaboss-setup-workaround, the 1Password ext

[2015-01-14 20:59] yacitus commented on #1
`/usr/local/bin/sudolikeaboss` works great (at the command-line and as the iTerm2 coprocess) with 1Password 5 Version 5.1.BETA-34 (510034), once I disabled "Verify browser code signature" in the Advanced tab of the 1Password preferences.

[2015-01-15 06:00] ravenac95 commented on #1
@yacitus I think chrome has been making updates that may render the workaround non-functional. I would highly suggest that people now just install the beta of 1password 5.1 I've been using it to great success on my end.

[2015-01-15 07:12] ravenac95 opened #10 "Support Tmux iterm2 integration"
If you try to do

   $ tmux -CC
   $ ssh some-address
   ... after logged in ...
   $ sudo -s

For some reason the coprocess doesn't correctly output the data into the tmux session.

[2015-01-26 20:47] lrozema opened #11 "Terminal parsing"
Is it possible to parse a piece of the terminal (last line for instance) to determine which account to load? And is it possible to chat the password directly from 1pw into the terminal?

For instance I sometimes SSH into a remote server and want to do a git pull one of my private Github repos. I would like to:

me@myserver:~/folder$ git pull
Username for 'https://github.com':

And then hit cmd-\ a

[2015-02-02 19:25] ravenac95 commented on #11
@lrozema So sorry I didn't respond sooner! That's something I've wanted to experiment with but haven't had time to as of late. I will definitely see if we can do something here.

[2015-02-06 13:44] bucaran commented on #2
:+1:

[2015-02-08 21:59] aspushkinus commented on #1
1password 5.1 is out of beta and sudolikeaboss works like boss now - without workaround.

BTW, I'm not a big fan of installation instructions as a gif. Going to create a pull request for list-based installation instructions.

[2015-02-19 09:26] a5e commented on #1
I tried first without the workaround and I did have the "Cannot Fill Item in Web Browser" error. Tried the workaround and still the same error. Then I saw that it was not needed anymore since I have 1P 5.1. I ran:
[code]
I restarted
[code]
Still got the same issue, any idea what I'm missing ?

[2015-02-19 16:07] aspushkinus commented on #1
Even though the workaround is no longer necessary, you need to still uncheck the "Verify browser code signature" checkbox in 1Password 5.1 settings:

![preferences](https://cloud.githubusercontent.com/assets/889219/6270365/a69a0726-b816-11e4-9b96-558ddeb00378.png)

[2015-02-19 16:40] a5e commented on #1
@aspushkinus thanks, I thought the workaround was a way to keep it checked, this paragraph is not very clear in the README, will do a PR.

[2015-05-08 11:53] rjmvalk3 commented on #5
I got the same problem. Changed it to a "login" and it works like a charm now :D

I would suggest to support both the "login" and the "password" type. Since the username in the "login" type is completely being ignored.

_What would be even nicer is to use the username and add the remote address as the second website for example to completely automate the ssh command :D_

[2015-05-12 11:24] n0nick opened #13 "Update "1Password5 workaround" Readme chapter"
Since [AgileBits fixed the browser signature verification bug in v5 .1.BETA-1](https://discussions.agilebits.com/discussion/comment/159692/#Comment_159692), I was able to work around the issue by:

1. Turning on "Beta updates" in 1Password
2. Updating 1Password (updated to 5.4.BETA-13)
3. Turning off "Verify browser code signature"
4. Using `sudolikaboss` like a boss, without installing a proxy so

[2015-05-15 15:44] ravenac95 commented on #13
Yes! I've been meaning to update the README, but I've been insanely busy at work. I will do this very soon.

[2015-05-23 16:39] erisdev commented on #10
Ah, is that the problem I've been having then? thanks for figuring this out for me. I wonder if this is a but in iTerm though.

[2015-07-02 15:40] zedtux commented on #3
Is there any update on this ? :)

[2015-07-02 15:49] zedtux opened #14 "KeePassX support"
KeePassX is open source so easier to integrate :)

[2015-07-21 16:31] ravenac95 commented on #3
@zedtux I wish... I haven't been able to spend the time to really look at the 1password3 code myself. Any help on that front would be greatly appreciated.

[2015-07-21 16:39] ravenac95 commented on #13
Updated finally :smile:! I apologize for the delay.

[2015-07-21 16:39] #13 closed

[2015-07-21 16:40] ravenac95 commented on #14
@zedtux that's not a bad idea. I may look into this :smile:

[2015-10-23 06:06] shaneargo commented on #7
FYI, I played around with this whilst I was developing support for the "Password" type and I agree with @ravenac95, it probably isn't going to be possible.

To see what we mean open ITerm2, press ⌘+\ and then try to select one of your server records. Notice how 1Password doesn't react to it?

[2015-11-02 11:39] kvonspiczak opened #16 "1password 'mini' window keeps reopening after run coprocess"
So basically whenever I pressed my shortcut once in iTerm2, it won't stop reopening every couple of seconds. Also the coprocess icon in the top right corner of my iTerm2 won't disappear. I'm using OSX El Capitan. The window of 1password keeps appearing.

[2015-11-04 20:10] ravenac95 commented on #16
Hrmmm... I'm currently moving, but by next week. I'll have El Capitan Installed (i'm slow to the party). Perhaps something happened with the upgrade and I'll test it out for sure.

[2015-11-09 19:11] kgadek commented on #1
Works for me without workaround.

[code]
[code]

[2015-12-11 21:12] rodneyo commented on #1
Awesome! iterm2 plugin.  Thank you !!!

[2016-02-19 01:17] csawyerYumaed commented on #10
This seems to be fixed in the latest iterm2 version 3 beta I just downloaded today.

[2016-02-26 07:48] olfway opened #18 "Add an option to not "auto-submit" passwords"
Now it prints "password\n", but that "\n" not always needed

[2016-04-07 13:58] MarkGriffiths opened #19 "non-functional with 1Password 6.3 Beta"
1Password 6: Version 6.3.BETA-3 (630003)

I'm so used to sudolikeaboss transparently working that I was certain I had some kind of weird Open Directory issue until I realised that it was just that the 1password popup wasn't appearing.

Looks like Agile are beefing up the protocol in the latest betas.

I get the following in system.log:

[code]

[2016-04-12 01:00] ravenac95 commented on #19
@MarkGriffiths I'm going to try looking into this for the next couple of days. What's strange is that I would think that disabling the `Verify Browser Code Signature` would make this a non-issue.

[2016-04-12 14:58] MarkGriffiths commented on #19
I did try toggling the `Verify Browser Code Signature` option in 1password, unbrewing and rebrewing `sudolikeaboss`, tried the older workaround implementation, fiddled with the workaround until I realised I was barking up the wrong tree so reverted to the vanilla version and tried fiddling with that.

I noticed that the coprocess in iTerm2 (Build 2.9.20160313) was being 'slammed shut' and had a po

[2016-04-28 08:08] thpani opened #20 "getPasswordFromResponse seems to be dead code"
[`getPasswordFromResponse`](https://github.com/ravenac95/sudolikeaboss/blob/c683a98abbe5729d74b2246c7586656b23d8d769/onepass/response.go#L59) seems to be dead code.

[2016-05-26 23:43] chancez commented on #19
I'm also running into this isssue.

[2016-05-26 23:49] bensherman commented on #18
Can you give an example of when you need to enter in a password into a terminal and not have it hit enter?

[2016-05-26 23:52] squarecandy commented on #19
I'm also not able to get it to work w/ 6.3
Not the end of the world - you don't even have to type the passwords, just look them up and copy and paste from 1password - but would be nice to have those quick keyboard shortcuts back.

[2016-05-27 00:59] soasme commented on #19
Not work for me too..

[2016-05-27 07:39] olfway commented on #18
Sure, for example mysql:
CREATE USER 'jeffrey'@'localhost' IDENTIFIED BY 'new_password'

or some config editing as i have not only my own password for sudo, but other passwords as well

Also (and more important for me) i want to hit enter myself, because sometimes password prompts expires, and system asks for login again. if you autosubmit password in that time - your password will be stored in lo

[2016-05-27 09:07] mhe-de commented on #19
I just updated 1Password to Version 6.3 and run into the same issue. Is a fix in work or do i have to go back to copy / paste my passwords :(
Would love to hear that a fix is possible cause i use sudolikeaboss everyday and i love it so much!!!
thx for an update

[2016-05-30 10:58] existemi commented on #19
Would also love for this to get sorted out. +1 on thanks for an update.

[2016-05-30 19:34] nzkller commented on #19
Hello guys,

My appstore secretly upgraded 1password to 6.3 and I've lost the possibility to sudolikeaboss.

Is there any investigation going on about this? I get the same errors in the system log

May 30 15:33:59 mco-cdassy 2BUA8C4S2C.com.agilebits.onepassword-osx-helper[2442]: 630031 [EXT:(Secondary Thread 0x7fa6526ad190):<OP4ExtensionClient: 0x7fa65266b9b0>] E findExtensionProcessForPort: | Fai

[2016-05-31 12:44] TyBrown commented on #19
I was able to validate that this is an issue with v6.3 of the 1Password app, since I was able to rollback my version to v6.2. Since I'm a user of 1Password for Teams, I stopped the 1Password Mini app, deleted the files in `~/Library/Application Support/1Password 4/Data`, and re-installed the app bundle from [this link](https://d13itkw33a7sus.cloudfront.net/dist/1P/mac4/1Password-6.2.zip). This mea

[2016-05-31 21:43] rickfillion commented on #19
Hello from AgileBits!

 You'll need to make sure that your we socket connection is setup such that lsof sees that your pid is associated with that open port.

Rick Fillion
1Password Developer

[2016-05-31 22:22] bwithem commented on #19
Need to find a way to catch the websockets and take a look at `lsof` looks like something is malformed and we are getting erroneous data with the correct PID.

`my PID: 545, invalid output: '545
    23918
    ', apps found: (
    )`

[2016-06-01 02:48] amaltson commented on #19
Thanks to @TyBrown for the instructions on rolling back, I followed the steps [from AgileBits](https://discussions.agilebits.com/discussion/16368/delete-primary-vault) to remove my data. Then, being paranoid (sorry @TyBrown), I went to the [1Password download page](https://agilebits.com/downloads) and just changed the version number to `6.2`, which worked.

`sudolikeaboss` has become an integral p

[2016-06-01 04:34] bwithem commented on #19
@rickfillion trying to debug the websocket with curl, any advice on what's going wrong here?

`curl --verbose -i -N -H "Connection: Upgrade" -H "Upgrade: websocket" -H "Host: sudolikeaboss://local" -H "Origin:chrome-extension://aomjjhallfgjeglblehebfpbcfeobpgk" http://127.0.0.1:6263/4`

`
*   Trying 127.0.0.1...
* Connected to 127.0.0.1 (127.0.0.1) port 6263 (#0)

< HTTP/1.1 101 Web Socket Protoco

[2016-06-01 12:21] rickfillion commented on #19
@bwithem hrmmmm.... that's curious.

The output there makes it look like lsof is actually seeing your pid. One thing to check is that sudolikeaboss actually shows up as an NSRunningApplication. In our code there's this when processing the pids:

[code]

[2016-06-01 13:36] rickfillion commented on #19
Once this is figured out, Rudy reminded me of another change we did that might end up affecting you. You'll want to make sure you send the Hello, then make sure you don't send anything you don't want dropped until you get the Welcome response. Welcome is currently the sign to use that we've actually accepted the connection.

[2016-06-01 14:58] bwithem commented on #19
@rickfillion well that certainly sounds like it's the culprit... I wonder if the connections are getting dropped so fast the PID doesn't exist anymore. @ravenac95 do you have time to look into this? I see you are sending the hello, but not waiting for the welcome:

https://github.com/ravenac95/sudolikeaboss/blob/master/onepass/client.go#L114
[code]

[2016-06-01 15:22] shuoshi commented on #19
Hi, guys

I tried to use hopper debugger and Wireshark to see what's going wrong on 1password 6.3, and make the helper to stop before send welcome, while sudolikeaboss is exit with 1 i.e. the ws socket is disconnected at that time, then when i stepped over send instruction, and got a welcome message in Wireshark.

Then I think it's maybe something wrong with my golang ws package, so I try to use n

[2016-06-01 17:27] rudyrichter commented on #19
@ravenac95 I'm also around if you have any questions, just @ me.

[2016-06-01 22:08] ravenac95 commented on #19
Hey guys,

I'm very sorry for the late reply. I have been away on vacation until today in a place with very little internet access. I will look into this as it definitely pertains to me so I will see if I can get a fix. Thanks for all the investigations done so far. I will keep you guys posted as I can.

[2016-06-03 03:29] shuoshi commented on #19
I've made a temp fix for 6.3 at [here](https://gist.github.com/shuoshi/5d7fdb4a795ace4b62fc9af5f4b8dcd9)

Since it seems
`[NSRunningApplication runningApplicationWithProcessIdentifier:] `
only return nonnull when it's an NSApp, so I use cgo to create a invisible window in main thread

and dispatch sudolikeaboss to another

replace main.go and compile it using CC=clang go build

[2016-06-03 03:41] ssgelm commented on #19
@shuoshi that's awesome!  It works for me.  It's not ideal because it adds an icon to the dock but I'll definitely use it for now!

[2016-06-03 06:07] ravenac95 commented on #19
For now it seems like @shuoshi might be the best workaround. I'm trying to see if there's any other solution I can do to make the installation of everything much simpler. I'll continue experimenting if I can't find anything by the weekend I'll package up @shuoshi fix.

[2016-06-03 12:06] rickfillion commented on #19
You could maybe use the nsapp activation policy setters to make the dock icon go away.

[2016-06-03 13:08] ssgelm commented on #19
@rickfillion Good call.  When I change
[code]
to
[code]
there is no dock icon and everything still works as expected.  With that change sudolikeaboss functions exactly as it did before without the launch delay that the dock icon added.

[2016-06-03 13:21] rickfillion commented on #19
Awesome! Good work, @ssgelm. :)

[2016-06-03 15:33] shuoshi commented on #19
Great @ssgelm, gist updated~

[2016-06-05 01:29] nzkller commented on #19
This is great @shuoshi Thanks for the temp fix. Could you please tell me the steps and commands you used to compile sudolikeaboss with your main.go?

Thanks in advance and best regards

[2016-06-05 01:58] shuoshi commented on #19
Hi @nzkller, just type

`CC=clang go build`

at the root directory of sudolikeaboss

[2016-06-05 03:59] nzkller commented on #19
Thank you very much it worked perfectly!!! @shuoshi Have a great weekend 👍

[2016-06-06 15:31] jasonlfunk commented on #19
Will there be a new release soon that fixes this? I miss being able to use 1password from the terminal.

[2016-06-06 17:28] sillygwailo commented on #19
While we wait for an official release, here's how I got this working:

1. `brew install go`
2. `export GOPATH=$HOME/go`
3. `mkdir ~/go`
4. `go get github.com/jorgelbg/sudolikeaboss`
5. Update the "Run Coprocess" path in the iTerm preference (under the Keys tab) to `~/go/bin/sudolikeaboss`

(When there's an official release, you can just remove the `go` directory and run `brew upgrade sudolikeaboss

[2016-06-06 17:43] jasonlfunk commented on #19
@sillygwailo Works perfectly. Thanks!

[2016-06-07 05:01] wolfg1969 commented on #19
@sillygwailo Thanks!

[2016-06-07 06:50] #19 closed

[2016-06-07 06:51] ravenac95 commented on #19
Merged a fix for this. Will have the official release ready by tomorrow at the latest.

[2016-06-08 13:18] makromannen opened #23 "Problem with 1Password 6.3?"
sudolikeaboss no longer works for me.

I've recently upgraded iTerm2 to 3.0 and 1Password to 6.3.1.

This is from the 1Password helper log:

`08/06/16 10:56:46,929 2BUA8C4S2C.com.agilebits.onepassword4-helper[2524]: 631006 [EXT:(Secondary Thread 0x7ff77ee25160):<OP4ExtensionHTTPConnection: 0x7ff77ee8c940>] M webSocketForURI: | [ES4] Extension connected Chrome-Extension 'chrome-extension://aomjjhal

[2016-06-08 14:04] thejandroman commented on #23
See #19.

[2016-06-08 16:50] makromannen commented on #23
@thejandroman Thanks. Didn't think to look at closed issues.

[2016-06-08 16:50] #23 closed

[2016-06-09 20:20] michaelbutler opened #24 "Does not work with latest 1Password 6.3.1 (or iTem2 3.0.0?)"
sudolikeaboss was working great for me for a while but it seemed to break recently. Can anyone confirm whether 1Password 6.3.1 is supported and working? I figure it may be possible that 1Password 6 changed something in their API that blocked off using this tool.

I'm on:
1Password 6.3.1 (latest)
iTerm 2 3.0.0 (latest)
Mac OS X 10.11.5 (El Capitan)

[2016-06-09 22:08] bensherman commented on #24
Dupe of https://github.com/ravenac95/sudolikeaboss/issues/19

[2016-06-10 08:27] nomaddesign commented on #24
#19 has been closed, but has the binary been updated?  The version number is still 0.2.0 in the repo and binary.    I tried removing / installing with brew and didn't see any difference.

[2016-06-10 23:10] ravenac95 commented on #24
Hey guys, I've been delayed at work. Didn't anticipate as much work coming back from vacation. Homebrew installs should now work! Let me know if there's an issue.

[2016-06-10 23:10] #24 closed

[2016-06-13 15:55] guglez commented on #14
Take my vote as well.

[2016-06-16 01:35] jpcirrus opened #26 "Release 0.2.1 binaries"
Please could you create binaries for release 0.2.1 as the links still point to 0.2.0 files. Thanks.

[2016-07-31 13:56] havvg opened #27 "Calling Hardware.is_64_bit? is deprecated!"
[code]

[2016-08-01 20:25] ravenac95 commented on #27
@havvg thanks for the heads up. Will definitely fix this up

[2016-08-02 05:46] ravenac95 commented on #27
Fixed!

[2016-08-02 05:46] #27 closed

[2016-09-15 23:41] ravenac95 commented on #26
Sorry for the slow response! It's all cleaned up

[2016-09-15 23:41] #26 closed

[2016-09-25 03:30] RickyCook opened #28 "Filling passwords of the "password" category fails silently"
**Steps to reproduce:**

- Add new item in 1p
- Select "password" category (not "login" category)
- Give any random name, and random password
- Set website to `sudolikeaboss://local`
- Save
- Try to fill in iterm with sudolikeaboss

**Expected:** Fills the password, followed by `<enter>`
**Actual:** No password is filled, followed by `<enter>`, making it seem as though a password has been filled

[2016-10-31 18:08] rafcontreras opened #29 "1Password 6.5 will break connection"
I've been beta testing 1P 6.5 and on sudolikeaboss Coprocess from iTerm it requests and update on the browser extension.
<img width="504" alt="screen shot 2016-11-01 at 07 06 06" src="https://cloud.githubusercontent.com/assets/670423/19865614/e1c17eea-a001-11e6-8aa4-fd5a04e4d917.png">
I have raised this issue on the agilebits forums and they've asked me to create a bug report so they can provide y

[2016-11-01 02:23] rickfillion commented on #29
1Password 6.5 will require what we call Simple Mutual Authentication, which is a means of allowing a pairing between 1Password mini and the apps that talk to it. This will break the current version of sudolikeaboss.

Give it a shot with the current betas of 1Password 6.5 and if you have any questions, let us know and we can try to point you in the right direction.

[2016-11-01 12:37] charliwest commented on #29
+1 for getting this fixed, damn my clicking the beta updates :)

[2016-11-01 21:42] rudyrichter commented on #29
adding myself as a watcher in the event i'm able to assist with any question answering

[2016-11-02 05:23] brettrann commented on #29
adding myself as a watcher too.  happy to test.  Thanks for offering this awesome tool proactive support Rick!

[2016-11-02 08:46] ravenac95 commented on #29
@rickfillion Thanks so much for reaching out! Jeffrey from Agilebits also reached out to me. I sent him a response about getting some docs on the protocol. Let me know if there's anything else I may need.

[2016-11-02 21:18] curiositycasualty opened #30 "Passwords are not sent to all panes when broadcasting input"
With "Broadcast Input" (a feature I've learned to love in this cold and desolate, post-csshx world) is enabled, a password collected by sudolikaboss is only sent to the first pane.

Repo:
1. open a new iTerm2 window
2. open a second pane (command+shift+d)
3. activate broadcasting input (command+option+i)
4. activate sudolikaboss, select password, and hit enter

The password in (cleartext) is only

[2016-11-02 21:31] nathanielks opened #31 "Donate!"
Dude, you've saved me so much time. How can I donate?

[2016-11-02 22:30] bensherman commented on #31
Same.

[2016-11-02 22:42] ravenac95 commented on #31
:heart: this made my day guys. I should setup a gittip. Or do you guys have any other recommendations

[2016-11-03 01:43] ravenac95 commented on #30
@curiositycasualty I too use the broadcast input feature. I've been thinking about how to get this to work but unfortunately I haven't found a way. It's definitely something I'd love to do tho.

[2016-11-04 14:40] bwithem commented on #29
Thanks @ravenac95 I hope you know how much time you save us on a daily basis! <3

[2016-11-11 00:40] ssgelm commented on #29
@ravenac95 Let me know if there's anything I can do to help - I'd love to be able to use this again too! 😀

[2016-11-15 16:15] nzkller commented on #29
Hello Guys,

The new update has been pushed and now im on 1Password Version 6.5 (650034) and my sudolikeaboss is broken.

Do you have any news about this? I think I've become sudolikeaboss dependant for my daily work.

Let me know if I can help.

Best regards,

Nzk

[2016-11-15 19:55] ravenac95 commented on #29
@ssgelm @nzkller I've been moving apartments recently which has taken up most my time. I just finished with all that and should have time to address these concerns. I'm starting development tonight. I will send out some beta builds once I get them! Would you guys be willing to test?

[2016-11-15 19:57] knilob commented on #29
I would totally be willing to help test.

[2016-11-15 19:57] JamesValero commented on #29
Me too! Use it everyday

[2016-11-15 20:03] ssgelm commented on #29
I'd be very happy to test!

[2016-11-15 20:05] ssloss commented on #29
I don't know how many testers you need, but I'd be very happy to test too.

[2016-11-15 21:22] warrengottlieb commented on #29
Also happy to test!

[2016-11-15 23:25] nzkller commented on #29
@ravenac95 Count me in happy to test and help 👍

[2016-11-15 23:31] bensherman commented on #31
I think gittip is now https://gratipay.com/ - whatever you pick, you'll have a few bucks coming from me.

[2016-11-15 23:36] rcreasey commented on #29
+1 for testing.

[2016-11-16 00:07] ravenac95 commented on #31
You guys are great! Let me know if this works [![Flattr this git repo](https://flattr.com/submit/auto?user_id=ravenac95&url=http://sudolikeaboss.com&title=sudolikeaboss&description=sudo+like+a+boss+-+and+you+can+too&language=en_GB&tags=sudolikeaboss,passwords,1password&category=software)

[2016-11-16 09:48] charliwest commented on #29
Willing to test here as well

[2016-11-16 11:37] cchalasani commented on #29
I can help too

[2016-11-16 15:01] kguay commented on #29
Happy to test!

[2016-11-17 08:05] mhe-de commented on #29
+1 add me to the list

[2016-11-17 21:24] Gee19 commented on #29
I am also willing to test or help out!

[2016-11-17 22:04] rudyrichter commented on #29
@ravenac95, if you run into any scenarios where you need any assistance debugging the interaction with 1Password mini let me know and i can take a look. I spent many weeks working on that code.

[2016-11-22 09:43] targeter commented on #29
Let me know if I can help with testing

[2016-11-22 16:44] kdorff commented on #29
I'm happy to test. I will be sad until sudolikeaboss is restored to it's former glory.

[2016-11-22 18:47] ravenac95 commented on #29
Hey guys. Just an update. I've been working on this a bit this week. Some of the documentation I was given wasn't quite correct but I was able to figure it out. I think I am unblocked now so it's simply following the updates for new 1password protocol. I will post a build up here once I have it! Hoping I can have an experimental build up this weekend.

[2016-11-22 18:48] rudyrichter commented on #29
@ravenac95 I'm curious what wasn't right in the documentation, did you sent feedback to Jeff to let him know so we can update it accordingly?

[2016-11-22 18:49] ravenac95 commented on #29
@rudyrichter I will totally send feedback to Jeff :)! I haven't had a moment to write the email.

[2016-11-22 18:50] rudyrichter commented on #29
@ravenac95 thanks, I'll look forward to reading it. maybe i know the why of why it differs!

[2016-11-22 19:50] ssgelm commented on #29
Very exciting!  I've got tons of free time in the coming days so let me know if you need help with the code at all - happy to help.

[2016-11-22 20:11] sibartlett commented on #29
Is there any chance of myself also obtaining the documentation too? So I can update [1password integration for hyperterm](https://github.com/sibartlett/hyperterm-1password)? @rudyrichter @rickfillion?

[2016-11-22 20:43] rudyrichter commented on #29
@sibartlett if you send an email to support+security@ it should get in front of the correct people

[2016-11-25 10:54] shuoshi commented on #29
Just updated 1password and encountered this problem... @rudyrichter I've done some reverse work to know how chrome did it work, but stuck at retrieve password from payload. I got a openURL response from the socket when click an item in 1password, encrypted with itemUUID, context, url and etc, while the previous version return a fillItem, I don't know why. I noticed the mini panel does not pop from

[2016-11-26 09:52] harrybiddle commented on #29
Very excited for this! Really appreciate the hard work

[2016-11-27 00:20] shuoshi commented on #29
Finally got it work!

I've updated my [master repo](https://github.com/shuoshi/sudolikeaboss)

I think it'll be better to wait formal release of sudolikeaboss, but if u are really impatient, feel free to check it out and using

    CC=clang go build

to build it.

cheers!

[2016-11-27 00:24] ravenac95 commented on #29
@shuoshi kick ass job man. I'm close to wrapping up what I have as well. Tho the holidays have kept me busy. I will have a beta release very soon.

[2016-11-27 00:36] shuoshi commented on #29
@ravenac95 I have to say, even with source code of javascript, it not a easy job to get it work. the encrypt and decrypt is so complex, and hard to debug. Anyway, thanks for hard work 💯

[2016-11-27 23:55] ravenac95 commented on #29
Hey guys, here's the first beta build. It's super duper hacky right now. But I don't want to keep people waiting for a solution whilst I clean things up.

Here's how to use it:

1. Download it [sudolikeaboss_0.3.0-beta1_darwin_amd64.zip](https://github.com/ravenac95/sudolikeaboss/files/615148/sudolikeaboss_0.3.0-beta1_darwin_amd64.zip)

2. Install it to /usr/local/bin/sudolikeboss (or wherever you

[2016-11-27 23:59] jpbarraca commented on #29
Works perfectly. Congratulations for the excellent work.

The registration interface seems reasonable to me. Simple and effective.

[2016-11-28 09:11] charliwest commented on #29
worked great for me to, I don't think you need to worry about that register bit and improving the UX, I think people using sudolikeaboss will be ok with it as it is. If they want a nicer clicky interface should they be using something like sudolikeaboss ;)

[2016-11-28 09:31] daenney commented on #29
I just tried it, works! And I'm with @charliwest, I think the UX is perfectly fine. It's probably nice if it prompts you about it if you just execute `sudolikeaboss` but other than that this is great.

[2016-11-28 09:38] BjornB2 commented on #29
Works indeed! I think that the people who use this are perfectly fine with the CLI registration :)

[2016-11-28 09:40] montanajava opened #32 "Requires to Update the 1Password Extension"
Pressing the shortcut displays a dialog requiring the user to update the browser extension.

Updating the extension in Firefox, Safari and Chrome did not solve the problem.

Using 1Password
![1pasword](https://cloud.githubusercontent.com/assets/6239960/20663247/1463f660-b557-11e6-8e57-8ed48ed1e7d4.png)
 6.5.2

[2016-11-28 09:52] Coopeh commented on #29
Thanks for the hard work. I think the CLI registration is the best way it could be done, perfect as it is!

[2016-11-28 09:54] cchalasani commented on #29
Works very well. Thank you for your hard work.

[2016-11-28 09:56] planetsizebrain commented on #29
Works like a charm again. Thank you for the quick fix and I don't mind the command line registration step.

[2016-11-28 09:58] mouson commented on #32
The issue #29 is same problem. and it will be solve.

[2016-11-28 10:30] nigelm commented on #29
Thanks for all your work on getting this going again - the last week or so has shown how much sudolikeaboss is part of my workflow - its been like having a hand out of action!

A couple of questions, thinking about the registration process/requirements:-
  * Registration will be required on first install
  * Re-registration will presumably be required on each update of sudolikeaboss (although hist

[2016-11-28 14:06] Ralnoc commented on #29
With how well initial testing of this is looking, do we have an ETA for the full release of this? If I have to, I can put together a go environment for compiling from scratch, (I'm a Mac User) but I would prefer to be able to brew install it.

[2016-11-28 14:07] daenney commented on #29
@Ralnoc The provided zip you can just use on your Mac, there's no need to build it yourself.

[2016-11-28 14:08] erikhusby commented on #29
Just a note.

I normally run from an account that does not have the SUDO privs to update
the /usr/local/bin/sudolikeaboss directory. So I did the install by
switching to the Administrator account and ran the registration process
there. Sudolikeaboss said "Authenticating sudolikeaboss...". At that time I
had an older version of 1Password and its extension installed.

Switched back to my normal acco

[2016-11-28 14:09] rudyrichter commented on #29
@erikhusby you're going to need to register in any account you're attempting to use it from.

[2016-11-28 14:14] Ralnoc commented on #29
@daenney Good to know. Depending on the expected timeframe for full release, I may do that.

[2016-11-28 15:49] kdorff commented on #29
I replaced the binary that came from brew (0.2.1) in the folder

with the binary in the zip mentioned above for 3.0. Did the register process. Back in business. Thanks!

[2016-11-28 18:49] bensherman commented on #31
Tried to sign up for flattr but It's refusing my US Visa card - I'll try again soon.

[2016-11-28 19:26] rafcontreras commented on #29
Awesome! Worked perfectly.

[2016-11-28 19:35] sibartlett commented on #29
@rafcontreras shouldn't we keep the ticket open until there's an official release?

[2016-11-28 20:27] ravenac95 commented on #29
@rafcontreras @sibartlett yes I'm going to keep it open

[2016-11-29 13:45] harrybiddle commented on #29
Confirmed! The instructions were very clear and this worked perfectly for me. Thank you so much !! I'll keep using it and report back any issues I find.

[2016-11-29 13:56] myrandor commented on #29
:+1:  I confirm too. The binary with "sudolikeaboss register" make it work on OSX 10.12.1 and 1Password 6.5.2.

[2016-11-29 16:43] thejinxters commented on #29
I used the binary and it did not work running El Capitan (OSX 10.11.6) and 1Password 6.5.2 and just get `Authenticating sudolikeaboss...` and then it hangs.

[2016-11-29 16:51] Ralnoc commented on #32
@montanajava Could you close this issue? As @mouson said, #29 is tracking this issue and has a resolution that is being beta tested before final release. The new binary is actually in that thread if you wish to test if yourself.

[2016-11-29 18:25] sibartlett commented on #29
@rudyrichter thanks for your help! I was able to obtain the documentation from 1Password support.

I've updated my 2 projects:

* onepass - 1Password module for node.js: https://github.com/sibartlett/onepass
* 1Password integration for HyperTerm (uses onepass module): https://github.com/sibartlett/hyperterm-1password

Sorry for polluting this issue @ravenac95 - I thought you may also like to see h

[2016-11-29 18:40] sillygwailo commented on #29
I can't get the updated sudolikeaboss to work with 1Password as bought from the App Store. After successfully registering with 1Password, here's the screen I get when I try the keyboard combo:

![screen shot 2016-11-29 at 1 32 18 pm](https://cloud.githubusercontent.com/assets/54067/20723492/c58e8856-b638-11e6-9937-8e085e877ce3.png)

And even if I search for a password and try pressing Return, I ge

[2016-11-29 18:43] sibartlett commented on #29
@sillygwailo 1Password > Preferences > Advanced > Uncheck "Verify browser code signature"

[2016-11-29 18:46] sillygwailo commented on #29
Yup, RTFM. My apologies.

[2016-11-29 20:05] montanajava commented on #32
Closed because it is a duplicate.

[2016-11-29 20:05] #32 closed

[2016-11-30 09:22] stgarf commented on #29
What exactly are the ramifications of unchecking "Verify browser code signature" and what might be stopping sudolikeaboss from somehow presenting verified signatures to check?

[2016-11-30 09:38] charliwest commented on #29
https://support.1password.com/code-signature/
Basically 1password tries to verify that the thing it is passing your password to is a browser "This feature prevents your data from being stolen in case your browser has been tampered with." And yeah iTerm/sudolikeaboss can't pass that verification.

[2016-11-30 10:46] gjoseph commented on #29
It seems to me like it could, if a) code was signed (so build from source would be a no-go) and b) agilebits would endorse/support it

-g

[2016-11-30 15:29] nzkller commented on #29
@ravenac95 Thank you for the update it works great! Back to normal work now 😃

[2016-11-30 17:41] shokurov opened #33 ""Update the 1Password extension""
When trying to run sudolikeaboss I get a popup saying

No passwords filled, no other dialogs shown.

Clicking "Update now" takes me to the browser extension page, which surely does not affect further functioning.

This is reproduced with sudolikeaboss ver. 0.2.1 and 1Password ver. 6.5.2 on macOS Sierra.

[2016-11-30 21:02] NoLooseEnds commented on #33
https://github.com/ravenac95/sudolikeaboss/issues/29

[2016-12-02 14:42] shawngustaw commented on #29
Awesome job getting this done guys!

[2016-12-02 19:43] thejinxters commented on #29
Just figured out what my problem was with the new binary. Turns out that I had a workaround from earlier in the year that had me put the following into my profile settings:
[code]
(I had gone one step beyond @ravenac95 's comment -> https://github.com/ravenac95/sudolikeaboss/issues/1#issuecomment-60721672)
Removing that allowed it to successfully register. Now it works great. Thanks!

[2016-12-09 18:48] eyedvabny commented on #29
Hey, any chance this could be pushed to master or made available as a `--devel` version on the Homebrew repo?

[2016-12-14 16:54] jsoucheiron commented on #29
It does work like a charm once installed in /usr/local/Cellar/sudolikeaboss/0.2.1/bin/sudolikeaboss.
Great work!

[2016-12-16 19:28] beng opened #34 "Linux 1password GUI"
In `README.md`, you mention:

It appears that someone has created a minimal 1password GUI for linux as seen [here](https://hg.icculus.org/icculus/1pass/), and [here](http://www.lucianofiandesio.com/1password-in-linux) is how someone was able to get it up and running.

[2017-01-08 21:54] NoLooseEnds commented on #29
Whats the status for a fix in the official build?

[2017-01-19 19:41] dkuntz2 commented on #34
The frontends would need to have the same protocol for talking to the 1password as the official one.

Theoretically you might be able to use the Windows 1Password client with wine (instructions: https://niels.kobschaetzki.net/post/2014-07-10-1password-4-in-linux/) and use sudolikeaboss, because that work around works with the browser extensions.

[2017-02-10 16:20] squarecandy commented on #29
Works great with the 0.3.0-beta posted above. Thanks for all the work and the amazing tool!
Lots of comments to wade through here - maybe consider posting something like this as a pinned post here, and also maybe on the homepage for now until 0.3 is officially released?

## Instructions for 1Password 6.5.3 compatibility

1. [Install using homebrew](https://github.com/ravenac95/sudolikeaboss) (unin

[2017-02-11 01:23] alecthomas commented on #29
0.3.0-beta works perfectly, thanks!

[2017-02-17 13:47] beejhuff commented on #29
Just confirmed it's working for me as well on El Capitan w/ 6.5.3

[2017-02-26 12:47] brandonpoc opened #35 "Error when using sudolikeaboss: "Failed to launch browser for the url: sudolikeaboss://local""
I get the following error when trying to choose a password to fill from 1Password, hot-key'd from iTerm2 and co-processed with sudolikeaboss:

"Failed to launch browser for the url: sudolikeaboss://local"

The URL for the password is set to sudolikeaboss://local and the 1Password Mini pops up when I hit the hot key, but I get that error every time. Is there some type of URI handler that needs to b

[2017-02-28 00:15] brandonpoc commented on #35
Anyone know why this is? I can't get sudolikeaboss to work because of this error.

Thanks

[2017-02-28 01:15] bensherman commented on #35
Are you using the right hotkey?  Defaults are command-\ and not command-option-\.  the first should fill in the pw, the second will launch the URL, for which there is none.  That is the only way I'm able to replicate what you've shown.
![screenshot_2_27_17__5_15_pm](https://cloud.githubusercontent.com/assets/3365/23387244/52b11c30-fd10-11e6-81bb-67baba3e5f17.png)

[2017-03-01 13:20] myrandor commented on #29
Still working fine after updating to 1Password 6.6.1 on Sierra 10.12.3 with iTerm 3.0.14.

[2017-03-01 18:13] JamesValero commented on #29
I think it would be good to mention this on the main page. @squarecandy's instructions are spot-on so we can use his steps. The current instructions are out of date.

[2017-03-07 01:03] unixbigot commented on #29
I've been using this for a couple of months and it's fine.

[2017-03-09 21:11] 2bithacker opened #37 "Long delay before showing 1Password"
Starting having an issue today where sudolikeaboss started taking a long time (20-30 seconds) before showing the 1Password window. Running it from the command line issues no errors, but sometimes fails to display the 1Password window at all and exits with error code 1.

Not really sure where to start debugging on this.

Mac OS X 10.12.3
sudolikeaboss 0.3.0-beta1
1Password 6.6.2

[2017-03-15 23:23] csawyerYumaed commented on #37
I have the same version(s) as you do, and iTerm2 Build 3.0.15, without this problem.

I'd guess for some reason iTerm2 is having issues making the coprocess start, have you checked for iTerm2 debugging is on and logs around coprocess starting?

The lazy way to fix this might be to restart iTerm2 and/or your mac first.

[2017-03-16 15:24] 2bithacker commented on #37
Restarting iTerm2 had no effect, and rebooting the Mac did help, but the problem recurred. Seems to be tied to excessive disk or USB activity, but not CPU activity.

Going to close this, as I think it's a local weird issue rather than a specific sudolikeaboss issue.

[2017-03-16 15:24] #37 closed

[2017-03-22 19:28] jkaan-coolblue commented on #29
@rafcontreras Do you have any update on the release of version 0.3 ? It would be nice if we could just do `brew install sudolikeaboss` and it would just work :)

[2017-04-06 07:20] jabooth commented on #29
@ravenac95 is there anything we can do to help get this beta out as the official release and in to homebrew?

1Password 6.5 has been the released version for nearly 5 months now, so I have to imagine the majority of `sudolikeaboss` users are hitting this issue and are either (a) giving up on using the tool (which is a shame, it's such a time saver!) or (b) using the procedure @squarecandy laid out

[2017-04-20 22:44] tresni commented on #28
See #15

[2017-04-27 16:19] thejinxters commented on #29
Anyone tried this with 1Password 6.7?

[2017-04-27 16:25] knilob commented on #29
I just updated, and it seems like it works OK.
On 27 Apr 2017, at 11:19, Brandon Mikulka wrote:

Anyone tried this with 1Password 6.7?

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

{"api_version":"1.0","publisher":{"api_key":"05dde50f1d1a384dd78767c55493e4bb","name":"GitHub"},"entity":{"external_key":"github

[2017-04-27 16:30] thejinxters commented on #29
@knilob - Thanks!
I have now also upgraded to 6.7 and can confirm that the binary fix works.

[2017-04-27 17:10] rudyrichter commented on #29
We will try to give more warning if we ship breaking changes to this.  We do at some point plan on deprecating/removing the WebSockets pathway, but we'll work with @ravenac95 when we get to that point.

[2017-04-27 17:20] csawyerYumaed commented on #29
@rudyrichter assuming you work for AgileBits, You could just integrate this into 1Password and make it a feature. :) it's MIT licensed, so no licensing issues.

[2017-04-28 07:14] NoLooseEnds commented on #29
That would magically make 1Password more unique to a new group of customers also.

[2017-05-02 10:35] moltar commented on #29
v 0.3.0 works for me, the only thing for some reason the registration dialog switched to, I think, Finnish or maybe Dutch?

[2017-05-07 15:04] ssgelm commented on #29
The new 1Password 6.8 beta broke sudolikeaboss again. ☹️ It now says that the client needs an update when it runs.

[2017-05-07 18:53] rudyrichter commented on #29
Is it posing as chrome? I think it should probably claim to be itself and not chrome. I'll look when I return home and put up a PR that rectifies that.

-rudy

[2017-05-17 01:24] galenrichards commented on #29
Any updates on a fix or workaround? Willing to help beta-test if needed.

Thanks!

[2017-05-28 08:13] roodkcab commented on #29
I've finished reversing chrome 1p plugin, and upload to my forked repo, if anybody like to have a test just clone from my [repo](https://github.com/roodkcab/sudolikeaboss), and compile the code using
CC=clang go build -ldflags -s

I've tested this code both under 6.6.4 and 6.7.1

!!!!!!!!!!!!! CAUTION !!!!!!!!!!!!!
u must put the password in PASSWORD category, it mustn't has a username field
if u

[2017-05-28 14:47] rudyrichter commented on #29
@roodkcab,

just a heads up, 6.8 implements Native Messaging and rejects chrome clients over WebSockets.

[2017-05-28 23:53] roodkcab commented on #29
@rudyrichter interesting, I'll have a look

[2017-05-29 00:39] roodkcab commented on #29
@rudyrichter are u sure about this? I upgraded to 6.8 beta4 and everything is ok, chrome plugin version is still 4.6.6 using websocket to communicate with 1password, I've tested my code, no problem there.

[2017-05-29 00:53] rudyrichter commented on #29
@roodkcab you have verify code signature turned off in advanced settings.

[2017-05-29 01:27] roodkcab commented on #29
@rudyrichter thanks, I'll have a look

[2017-06-28 16:56] thorhs commented on #11
This could probably be handled by allowing a username to be specified on the command line when starting the co-process.  iTerm triggers could then be used instead of a keypress to start the coprocess.  The coprocess could then send the DEFAULT_HOSTNAME string, but with the username included.  The triggers can pass in data that is gathered from a regular expression.

[2017-06-30 06:45] lrosenstein commented on #11
That's exactly what I do and it works well. The change I made to make this possible is here: https://github.com/lrosenstein/sudolikeaboss/commit/fb36f082e88e5f6910940be51dce0d6c15ee5d33

[2017-06-30 15:13] thorhs commented on #11
Not bad.  What I've wanted to do is to have the option of specifying a user and host, if a user is specified, use:
   sudolikeaboss://<username>@local
and if user and host is specified use:
   sudolikeaboss://<username>@<hostname>

Then, hopefully be able to configure a trigger that grabs the username and possibly hostname from the sudo command.  I could then configure the sudo prompt to include u

[2017-06-30 21:01] brycekahle opened #40 "Maintenance help?"
Thanks for this project! It saves me so much time.

I've noticed that it can take quite a long time between releases. I completely understand why, and I'm offering my assistance. At the very minimum, I'd love to help get a version released to homebrew that works out-of-the-box with the latest versions of 1Password.

How best can I assist you?

[2017-07-12 03:02] ssgelm opened #41 "Push code for 0.3.0-beta1"
First of all thank you SO much for the work you've done so far on sudolikeaboss - it's a truly indispensable tool for me.  Given that you seem busy would it be possible to push your code for 0.3.0-beta1 so I and others in the community can update it for the new impending release of 1password?

[2017-07-12 03:10] ravenac95 commented on #41
@ssgelm Yes! I've been very busy with various things in life for the past several months. I thought I had a branch publicly available. I will check back with you on that. I've been traveling a lot and am only at my work computer (not my personal where I develop sudolikeaboss)

[2017-07-15 06:03] ssgelm commented on #41
Maybe I missed it before (or you recently pushed) but I now see the branch `29-fix-for-1password-6-5`.  Thanks!!  I'm going to take a stab at fixing it for 6.8 since that seems to be close to release.

[2017-07-16 22:26] ssgelm commented on #29
@rudyrichter Any chance I could get a copy of the integration doc?  I'm trying to update 0.3.0-beta1 to work with 1pass 6.8 and I'm not having luck with any non-chrome origin URL.  Alternatively any suggestions you have would be awesome!

[2017-07-16 22:35] ssgelm commented on #29
As an aside re-running `sudolikeaboss register` under 6.8 does make it work again (with verify code signature turned off) but I'd love to fix this in a more correct way.

[2017-07-16 22:55] TyBrown commented on #29
Confirmed the following combination works:

- 1Password Version 6.8.BETA-12 (680012)
- sudolikeaboss Version 0.3.0-beta1
- Verify browser code signature: disabled

[2017-07-17 08:14] Aktariel commented on #29
Where did the 0.3.0-beta1 version come from? is that the 6.5compat branch?

[2017-07-17 20:25] TyBrown commented on #29
@Aktariel Please see @ravenac95 's comment here: https://github.com/ravenac95/sudolikeaboss/issues/29#issuecomment-263157412

That's where the sudolikeaboss version 0.3.0-beta1 version that I have installed came from.

[2017-07-17 21:35] rudyrichter commented on #29
@ssgelm, i'm not sure what document the security folks would have sent over to @ravenac95, but I suspect it only pertained to the implementation of the SMA (Secure Mutual Authentication) handshaking protocol.

There are a couple things stacking up that will be coming in the next couple months: WebSockets is going away as a means of communicating with 1Password (along with it the verify code signat

[2017-07-20 04:30] smoorez commented on #41
And 6.8 is upon us: https://support.1password.com/kb/201707/

[2017-07-20 12:35] Ralnoc commented on #41
@ssgelm 0.3.0-beta1 works fine with 6.8. You just have to run ```sudolikeaboss register``` again.

The real problem is the fact that 1Password will be retiring websocket support in the near future. Once that happens, this will be completely broken. As was mentioned here: [Issue #29 (rudyrichter's comment)](https://github.com/ravenac95/sudolikeaboss/issues/29#issuecomment-315892088) This will have

[2017-07-21 14:12] fivesixzero opened #42 ""1Password can't save or fill in sudolikeaboss.""
After doing a round of updating on my dev system recently I'm seeing this when trying to invoke `sudolikeaboss`:

![slab-cant-save-or-fill-in](https://user-images.githubusercontent.com/13478705/28466729-f779c21e-6df2-11e7-9d84-80a9876729aa.jpg)

I've done cleanup around `slab` by removing, reinstalling 0.21 from brew, and also dropping in the binary from `sudolikeaboss_0.3.0-beta1_darwin_amd64.zip

[2017-07-21 14:18] fivesixzero commented on #42
Ahh, did another remove/reinstall cycle and this time `sudolikeboss register` did what it should do. Everything's working again. :)

It looks like https://github.com/ravenac95/sudolikeaboss/issues/29#issuecomment-278988719 from @squarecandy has like the most concise rundown on how to get it done quickly.

Hope this helps anyone else who runs into this in the future.

I wish I had more time to dive

[2017-07-21 15:55] svoop commented on #41
Would it be possible to make 0.3.0-beta1 available via Homebrew?

It's possible to leave the current stable version untouched but to define either `devel` in the formla which can than be used with `brew install --devel sudolikeaboss`.

[2017-07-21 16:10] svoop commented on #41
@ravenac95 As a followup to my previous comment: It should be enough to create a tag `0.3.0beta1` and then extend the homebrew formula something like this (the SHA is missing here of course):

[code]

(By the way: I've taken the version scheme `0.3.0beta1` from how the formula for Go labels betas.)

[2017-07-21 16:12] csawyerYumaed commented on #41
Since 0.2.1 doesn't work at all anymore, with recent versions of 1Password, I don't see why it's not just made the default.

[2017-07-24 17:22] fivesixzero commented on #42
FYI: The problem popped back up again but I don't think it was slab's fault. Looks like something with Chrome's native messaging and a directory lacking parents. Or something.

https://support.1password.com/kb/201707/

[2017-07-24 17:31] lrosenstein commented on #42
My experience has been that the dialog pops up if 1P is locked at the time sudolikeaboss is run.

[2017-07-28 21:57] svoop commented on #41
Ether way, thanks in advance for cutting a release of `0.3.0beta1`, @ravenac95.

[2017-07-29 11:12] n4mine commented on #41
hi, it still doesn't work when lock 1p
osx: 10.12.6
chrome: 60.0.3112.78
sudolikeaboss: 2d9afe1

![img](https://i.1pw.ca/media/native-messaging.png)

[2017-08-01 14:46] cmbuckley commented on #42
@ravenac95 I would suggest that this issue be reopened, or I can create a similar one if preferred. The issue is still present in 0.2.1 and 0.3.0-beta1, but only when 1Password is locked. Prior to 1Password 6.8, the 1Password Mini unlock screen was correctly presented in this case.

[2017-08-01 16:01] fivesixzero commented on #42
Reopening since this does look like a regression of sorts, per @cmbuckley's comments.

I've been able to replicate identical behavior.

Expected:

When 1Password is locked and `slab` is invoked, the 1Password Mini unlock screen appears and allows unlocking.

Current Behavior:

When 1Password is locked and `slab` is invoked, the error message mentioned in the original report appears. This can be wo

[2017-08-07 14:46] DanFreed commented on #42
I can confirm this behavior as well.  slab works fine as long as the main 1Password app is unlocked.  Once the lock times out, slab shows the error instead of 1Password mini unlock screen.

I've already run the registration process.

I think this started with 1Password 6.8.

$ sudolikeaboss -v
sudolikeaboss version 0.3.0-beta1

[2017-08-14 13:06] Ralnoc commented on #42
This is definitely tied to 1Password 6.8 and relates to the work they are doing for the new messaging system. They have an eventual plan to remove websocket support, at which point this will stop working.

In my spare time I've started looking at the code to migrate it over to the chrome messaging system as was suggested in issue #29 . However I have extremely limited time between family and work

[2017-08-23 16:16] meastes commented on #42
Looks like an update was released today to the 1Password app (6.8.1) that completely breaks slab. The checkbox for code signing has been completely removed.

[2017-08-24 23:23] Lingnik commented on #42
:point_up: Ditto. Instructions here https://github.com/ravenac95/sudolikeaboss/issues/29#issuecomment-278988719 also do not resolve this on 6.8.1 with iTerm 3.0.15 and sudolikeaboss 0.3.0-beta1.

[2017-08-25 21:23] guiagaing commented on #42
Got the same issues . I am so dependent on sudolikeaboss now for my day2day. Is there any solution around ?

[2017-08-27 11:15] thorhs commented on #42
Same here, thankfully I haven't updated to 6.8.1 yet, but when that happens my life will become harder.

Is there anything I can do to help implement this?  I have intermediate experience with Go, if that helps.

[2017-08-27 12:27] m4rkw commented on #42
NOPASSWD: ALL is probably the sensible workaround for now, since if someone has access to your local account getting root is never going to be difficult.

[2017-08-28 08:00] eugene-chow commented on #42
If you unwittingly upgraded to 6.8.1 (like me), downgrading to 6.8 can be done by installing the pkg at [this link](https://d13itkw33a7sus.cloudfront.net/dist/1P/mac4/1Password-6.8.pkg). The download path is intuitive. Just get the download URL from the official page and change the pkg version to the one you desire.

[2017-08-28 15:00] GitHubGreg commented on #42
Thanks for the link, good temporary solution.

[2017-08-29 08:47] charliwest commented on #41
On 6.8.1 of 1Password and cannot get this working at all now. The turn off verify option in 1Password seems to be gone now :(

[2017-08-30 04:28] brycekahle commented on #29
@rudyrichter Since @ravenac95 is clearly very busy (#40), I've started updating a fork (github.com/brycekahle/sudolikeaboss) that contains several fix/improvements from the community. I would be interested in talking to you about Native Messaging and any other important updates that need to happen. My email is on my GitHub profile.

[2017-08-30 12:40] charliwest commented on #29
@brycekahle would like to give this a try, is the process the same to install via go for your fork? Cheers

[2017-08-30 12:44] GitHubGreg commented on #29
Thanks @brycekahle for taking this up. Much appreciated.

[2017-08-30 15:39] brycekahle commented on #29
@charliwest I haven't had a chance to test my changes yet. Once I do, I will make a homebrew tap + release download. I'm hoping to get to that later today.

[2017-08-30 15:50] jchannon commented on #29
I'm on 6.8.1 will fixes there address that version?

On 30 August 2017 at 16:39, Bryce Kahle <notifications@github.com> wrote:

[2017-08-30 15:55] brycekahle commented on #29
@jchannon If that version requires Native Messaging, then no. I'm *hopefully* going to be contacted by AgileBits with details on what is necessary to add NM support.

I saw this [thread](https://discussions.agilebits.com/discussion/81528/cannot-use-sudolikeaboss-with-1password-6-8-1) in the 1Password forums that seemed to indicate NM might be required for 6.8.1. I have 6.8 installed, and websocket

[2017-08-30 16:32] brycekahle commented on #29
@charliwest I just [released 0.3.0](https://github.com/brycekahle/sudolikeaboss/releases/tag/v0.3.0). The easiest way to install is via homebrew `brew install brycekahle/sudolikeaboss/sudolikeaboss`.

[2017-08-30 20:36] charliwest commented on #29
@brycekahle just got it installed, thanks for the quick work. I had 6.8.1 and it failed with the same error about restarting my browser. Just downgraded to 6.8 and working fine again. So you are probably correct about NM.

[2017-09-04 23:43] christopherdwhite commented on #42
So is this actually fixable or are we out of luck now?

[2017-09-05 09:56] nigelm commented on #42
It is fixable, but it needs someone with the appropriate skillsets (golang, reasonable familiarity with protocol implementation, some crypto) and more importantly some available time to do the work.

What needs doing is a re-implementation of the communications channel back to 1Password, which has previously used Websockets (which 1Password has deprecated as of 6.8.1) to use [Chrome Native Messagi

[2017-09-05 16:04] brycekahle commented on #42
Correct. I'm awaiting contact from AgileBits on how to add Native Messaging support. They indicated that code signing may be necessary among other things.

[2017-09-07 20:59] meastes commented on #42
Looks like the CLI they announced yesterday is another possible option for integrating with 1Password. This would allow us to bypass the need to codesign.

https://support.1password.com/command-line-getting-started/

[2017-09-07 21:02] rudyrichter commented on #42
@meastes,

something to be aware of is that the CLI only works with 1Password.com accounts.

[2017-09-08 00:55] christopherdwhite commented on #42
I briefly chatted with one of the AgileBits devs on FB and while it wasn't official, it sounds likely that code signing will continue to be required. He did recommend the CLI though for hosted accounts and said that they use it for some of their own tools.

[2017-09-08 07:49] charliwest opened #43 "Is this the end of sudolikeaboss?"
![img_0050](https://user-images.githubusercontent.com/7933076/30201415-9fb805a8-9472-11e7-95b1-38831f2c56fb.PNG)

[2017-09-08 10:29] ideologysec commented on #43
Doesn’t do quite the same thing; though it’s probably possible that some of the use cases overlap, unless 1P is running on a remote server, for instance, it can’t fill in a sudo password, or ssh key password.

[2017-09-08 19:29] csawyerYumaed commented on #42
@rudyrichter can you connect @brycekahle with the documents he needs on how to add Native Messaging support?  Bonus, just make them publicly available here!

[2017-09-08 21:43] DanFreed commented on #42
I know that it isn't a fix for sudolikeaboss, but while we await that fix I posted a script that uses GPG and the pass utility to provide a similar experience as sudoliekaboss and 1Password.

Its not perfect, but it seems to work well enough for the moment.  You can get it here: [https://github.com/DanFreed/passprompt](https://github.com/DanFreed/passprompt).

[2017-09-08 23:32] torarnv commented on #43
And it's subscription only 😠

[2017-09-14 01:45] amaltson commented on #29
It looks like 6.8.1 is broken and I installed it from the App Store 😞, is there any hope for me?

[2017-09-14 22:33] brycekahle commented on #29
@amaltson You can follow these [instructions](https://support.1password.com/switch-from-mac-app-store/) and then download 6.8 [here](https://cache.agilebits.com/dist/1P/mac4/1Password-6.8.pkg).

[2017-09-15 00:05] brycekahle commented on #42
FYI I fixed this issue when you are using 1Password 6.8 (not 6.8.1 😭 ). The fix is available in my [fork](https://github.com/brycekahle/sudolikeaboss) version 0.3.1.

[2017-09-15 00:06] brycekahle commented on #40
Due to the lack of response, I've started a [fork](https://github.com/brycekahle/sudolikeaboss). I've already got a [couple releases](https://github.com/brycekahle/sudolikeaboss/releases) with important fixes.

[2017-09-15 00:06] #40 closed

[2017-09-15 00:07] brycekahle commented on #41
FYI The code that was in `0.3.0beta1` and some other fixes have been released in my [fork](https://github.com/brycekahle/sudolikeaboss).

[2017-10-03 11:49] SanderAtom commented on #42
Any ETA on a fix for this? It's 6.8.2 by now, should I downgrade to 6.8 ?

[2017-10-07 06:07] csawyerYumaed commented on #41
So, there seems to be a few possible workarounds/replacements:

1. Stay on 1Password 6.8 -- and Sierra (I guess High Sierra requires 1p >= 6.8.1?)
2. Use dpaf(https://github.com/tomvachon/dpaf) w/ 1password 6.8.1+ with a 1password subscription and your 1password vault online.
3.  Use iterm2's built-in password manager (set a profile key shortcut to add menu-item 'password manager') -- this uses th

[2017-10-07 22:58] svoop commented on #41
Good idea, see [this issue](https://github.com/brycekahle/sudolikeaboss/issues/1) by @brycekahle for the reason why. AgileBits has claimed in the past that 1P customers won't be pushed towards the cloud, so this is sort of a litmus test.

[2017-10-10 18:52] bwoodruff commented on #42
Ben from AgileBits here. We've posted a response for this request on our discussion forums:

https://discussions.agilebits.com/discussion/comment/394873/#Comment_394873

[2017-10-10 19:20] fivesixzero commented on #42
@bwoodruff Thanks for sharing. I'm looking forward to seeing what you guys can come up with to help with non-traditional utilities like this. There are a lot of us that live in terminals and, for quite some time at least, 1Password worked great to store secrets with `slab` helping us get them out of 1PW with a quick hotkey in our terminal env.

That's the real problem I hope can be solved. I'm not

[2017-10-10 19:26] bwoodruff commented on #42
You're welcome. I totally get it. Our ops folks tend to live in terminals as well, so we definitely understand the utility that `slab` brings. We appreciate the efforts of 3rd party developers such as @brycekahle to offer additional functionality on top of the 1Password platform.

[2017-10-10 20:02] Ralnoc commented on #42
@bwoodruff - If we wanted to work on a solution in another programming language (unfortunately I am not proficient in Go) where would we go to read up on the API to communicate with the local 1Password application using the chrome native messaging process? And the requirements it has for implementation? (Like the fact that the communication has to be signed)

As much as I would love to work toward

[2017-10-10 20:14] csawyerYumaed commented on #42
@Ralnoc It's a no go, because 1Password > 6.8 requires anything that talks to it to be signed (currently) and 1Password has just declared(see the forum https://discussions.agilebits.com/discussion/comment/394873/#Comment_394873 )  they refuse to sign anything 3rd-party, including slab.  So they won't sign your stuff either.

[2017-10-10 20:18] bwoodruff commented on #42
Right. This isn’t a slab problem. It isn’t as if slab is doing something wrong, and another developer could do it right. We just aren’t going to allow native messaging communications from additional apps. We are looking to build a solution that would allow utilities like slab to interface with 1Password, but it isn’t going to be an immediately available offering. The best I can offer for the immed

[2017-10-10 20:25] csawyerYumaed commented on #42
@bwoodruff the other solution is just allow your 'op' tool to talk to the local 1password process and do native messaging. That would solve 99.99% of our issues with your 'op' tool, and there are already wrappers that do iTerm2 coprocess tie-in, and are trivial to write.  Especially since you have committed to continue to support local vaults, it seems silly that 'op' won't also support this.

[2017-10-10 22:15] bwoodruff commented on #42
That is a big “just.”

[2017-10-12 13:37] peacetara commented on #42
Hi Everyone. I've written a replacement for sudolikeaboss that should work with 1Password > 6.8.0, by talking directly to the SQLite data file  It's not ideal, as then I require your Master Password, and that's not the best move security wise, but in light of the recent decisions by 1Password, I do not see many other choices. Luckily everything stays local so that's a win.

Code repo here: https:/

[2017-10-12 14:52] bwoodruff commented on #42
Caveat emptor: AgileBits cannot ever recommend entering your 1Password Master Password into anything other than 1Password. We have no reason to believe malicious intent with utilities that work with the 1Password database, but we also have not verified the code to be able to say that isn’t the case.

That said, we love that people create utilities to interact with 1Password. It is one of the reaso

[2017-10-12 15:43] m4rkw commented on #42
@peacetara doesn't storing the master password in a file readable by your local user kind of undermine your security significantly and perhaps also unnecessarily?  If you're doing that would it not be safer to just store a dictionary of the passwords you actually need to use with sudo in a flat file rather than the keys to (I'm guessing..) everything in your life?

[2017-10-12 16:01] peacetara commented on #42
@m4rkw Well, perhaps. It's not required to store it in a file, but it definitely makes life easier. If an attacker gets to run processes on your local machine (like to say read the file), they can also read memory, and all is lost, regardless... assuming your 1password application is unlocked(and let's face it, most of us keep it unlocked) while using the computer.

The file is only 1 option, you

[2017-10-12 16:07] m4rkw commented on #42
@peacetara i guess you could implement a locking mechanism similar to how 1P works.  cache the master key in memory and expire it after a period of time.  for bonus points cache it in a daemon running as a different user so the main user can't scrape it from memory but can request passwords from it when it's in an unlocked state.

[2017-10-12 16:15] peacetara commented on #42
@m4rkw running as a diff. user would not solve reading memory issues, if you have local box, you get everything, but it would raise the attack surface and make it harder.. but I imagine it would be a nightmare in install/setup costs.  We could have a little daemon that stores the master and overview decryption keys and has basically zero footprint otherwise. that would be a good idea.. something l

[2017-10-12 18:10] jabofh commented on #42
@peacetara You could also consider using the MacOS keychain to keep the password... You would have to `system()` out to use it, I suppose:

`eroux@Fafnir$ security find-generic-password -a 'slab' -g
keychain: "/Users/eroux/Library/Keychains/login.keychain-db"
version: 512
class: "genp"
attributes:
    0x00000007 <blob>="slab-password"
    0x00000008 <blob>=<NULL>
    "acct"<blob>="slab"
    "cdat"

[2017-10-12 21:04] Ralnoc commented on #42
@bwoodruff Out of curiosity, is there a scenario where someone could work with AgileBits to make a command line tool that replaced the features of slab? I think everyone here would agree that they would have no issue with using a tool that is ultimately owned by Agilebits as long as the end use behavior replicated that of slab (i.e. Talks to the local 1Password application using Chrome Native Mess

[2017-10-12 21:16] Ralnoc commented on #42
@peacetara In addition to the comments above, what you have written doesn't seem all that different from AgileBits' 'op' command line tool. The only difference being that it accesses the local vault files instead of talking to their remote store. Is that correct?

[2017-10-12 21:21] squarecandy commented on #42
Read this comment from @brenty here:
https://discussions.agilebits.com/discussion/comment/394491/#Comment_394491

Unfortunately, it sounds like they are all in for their encrypted/hosted solution and the CLI tool they already have as the way forward and they believe that this is as secure or more secure than a local only situation. So I don't think it's about getting permission/access to someone's

[2017-10-12 21:27] peacetara commented on #42
@Ralnoc basically yes.  It opens the 1Password SQLite database file directly.  See how it works on this document: https://github.com/peacetara/slab/blob/master/src/python/README.md

[2017-10-12 21:34] Ralnoc commented on #42
@squarecandy From what I read, the thing I'm trying to solve, and in theory slab solved, actually fits the scenario that @brenty was suggesting in that post. I personally do not use local vaults. I'm using the online ones. I'm looking at a solution that effectively implements what the chrome extension does, only in a terminal window.

Something that registers securely with the local application, a

[2017-11-21 23:20] dillongreen commented on #43
So what can we do then because it seems 1password is currently not providing the popup since 6.8.1 https://discussions.agilebits.com/discussion/81528/cannot-use-sudolikeaboss-with-1password-6-8-1/p2

[2017-12-08 16:07] nei commented on #43
Yeh it seems the option Verify browser signature does not exist anymore :(

[2017-12-12 17:13] myrandor commented on #43
Didn't try it but here's an alternative.
[https://github.com/peacetara/slab/](https://github.com/peacetara/slab/)

[2018-03-26 13:34] moltar commented on #43
Is the issue of money to certify the code via Apple or is it something else?

[2018-04-09 09:32] ChristoRibeiro commented on #29
any update to make it work with 1Password 6.8.1?

[2018-04-09 19:07] 2bithacker commented on #29
I disagree, I think there's still a lot of use cases that `sudolikeaboss` + 1Password address that the iTerm2 password manage does not handle, such as OTP.

[2018-04-09 19:10] brycekahle commented on #29
@ChristoRibeiro Unfortunately, it won't be possible because AgileBits refuses to allow tools like sudolikeaboss. See this [issue](https://github.com/brycekahle/sudolikeaboss/issues/1) and the forum post linked from there.

[2018-04-09 20:29] ChristoRibeiro commented on #29
@brycekahle thanks for your feedback. So the only fix is to downgrade to 6.8 until AgileBits decide to make sudolikeaboss official?

[2018-04-09 20:31] brycekahle commented on #29
They have stated that this will not happen. 😢

[2018-08-20 16:32] roodkcab opened #44 "This is NOT the end of sudolikeaboss"
It's been a year since last update of this project, I can't use this awesome software with iTerm2, since 1Password team didn't give me any document on developing iTerm2 extension to communicate with 1Password mini. I can't bear it anymore today, and decided to hack 1Password a little to get the job done.

![giphy](https://user-images.githubusercontent.com/1700820/44353495-bb2dce80-a4d9-11e8-8cda-f

[2018-08-21 00:48] roodkcab commented on #44
I've update my code [here,](https://github.com/roodkcab/sudolikeaboss) provide a hijack module and put build instruction in README. Happy hacking

[2018-08-22 05:05] roodkcab commented on #44
@mouson u have to build it from source

1、build the hijack.dylib in hijack directory using

`clang -framework AppKit -framework Foundation -o hijack.dylib -dynamiclib hijack.m ./rd_route.c`

then start 1password helper in console using

DYLD_INSERT_LIBRARIES=hijack.dylib /Applications/1Password\ 6.app/Contents/Library/LoginItems/2BUA8C4S2C.com.agilebits.onepassword4-helper.app/Contents/MacOS/2BUA8

[2018-08-22 15:26] mouson commented on #44
@roodkcab  thank you very much!

when i clone 「https://github.com/roodkcab/sudolikeaboss」 and step 1 - 2 `DYLD_INSERT_LIBRARIES=...` i got message:

![image](https://user-images.githubusercontent.com/858588/44473175-5487ec80-a662-11e8-8dd4-ef9835517f4f.png)

and step 2 go back to sudolikeaboss folder `make` i got this error message

![image](https://user-images.githubusercontent.com/858588/4447330

[2018-08-23 02:05] roodkcab commented on #44
@mouson what version of go do u use? check it with `go version`, mine is 1.10.3, if u don't want to upgrade golang, try to move vendor/onepass outside vendor directory, and make again

[2020-04-17 16:50] tettoffensive commented on #44
@roodkcab @ravenac95 Is it the end? Was hoping to use something like this with 1Password 7.4.3

[2020-04-19 18:33] ravenac95 commented on #44
@tettoffensive Unfortunately, I haven't been able to keep the project up. There might be others that have successfully built the project but the latest versions of 1password prevented (rightly so in interest of better security) the use of sudolikeaboss. I do hope that I can come up with something better in the future, but other life responsibilities have taken priority. I will update the readme to

[2020-04-19 19:09] tettoffensive commented on #44
No worries. I think 1Password should make an official terminal client.
Would be so useful!

On Sun, Apr 19, 2020 at 11:34 AM Reuven V. Gonzales <
notifications@github.com> wrote:

[2021-04-13 18:53] curiositycasualty commented on #30
RIP

[2021-04-13 18:53] #30 closed

[2022-02-15 08:55] thpani commented on #20
Closing unresolved

[2022-02-15 08:55] #20 closed